# data & models
data/raw/
data/interim/
data/processed/
models/*.pt
models/*.pkl
models/*.task
*.mkv
*.mp4
*.mov

# python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# env
.env
